body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  width: 100%;
}

header {
  width: 85%;
  min-width: 1024px;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
header .header-logo {
  height: 50px;
}
header .header-nav-primary {
  margin-right: auto;
}
header .header-nav-primary ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
}
header .header-nav-primary li {
  margin: 0 10px;
}
header .header-nav-primary li a {
  color: black;
  text-decoration: none;
}
header .header-nav-primary li a:hover {
  border-bottom: solid black 2px;
}
header .header-nav-secondary ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
}
header .header-nav-secondary ul li {
  margin: 0 10px;
}
header .header-nav-secondary ul li img {
  height: 30px;
  vertical-align: middle;
}
header .header-nav-secondary ul li a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: solid transparent 2px;
}
header .header-nav-secondary ul li a:hover {
  border-bottom: solid black 2px;
}

#header-nav-secondary-menuButton {
  cursor: pointer;
}

main {
  width: 85%;
  min-width: 1024px;
  margin: 0 auto;
}

.features figure {
  position: relative;
}
.features figure img {
  width: 100%;
}
.features figure figcaption {
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: rgba(241, 241, 241, 0.75);
  padding: 30px;
  text-align: left;
  width: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
}
.features figure figcaption h1 {
  font-size: 40px;
}
.features figure figcaption p {
  margin: 10px 0;
  font-size: 18px;
}
.features figure figcaption button {
  margin-right: auto;
  background-color: white;
  padding: 10px;
  border: none;
}
.features figure figcaption button a {
  text-decoration: none;
  color: #2874cc;
  font-size: 18px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.features figure figcaption button a:hover {
  text-decoration: underline;
}
.features figure figcaption button a img {
  width: 22px;
  margin-left: 0 4px;
}

.carousel-control-prev-icon {
  width: 60px;
  height: 60px;
  background-image: url("../img/leftArrow-01.svg");
}

.carousel-control-next-icon {
  width: 60px;
  height: 60px;
  background-image: url("../img/rightArrow-01.svg");
}

.articles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.articles article {
  box-sizing: border-box;
  width: calc((100% - 3*20px)/4);
  margin: 10px 0;
}
.articles img {
  width: 100%;
}
.articles h1 {
  margin: 30px 0 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #323232;
}
.articles p {
  margin: 10px 0 0 0;
}
.articles button {
  background-color: white;
  padding: 0;
  border: none;
  margin-top: 10px;
}
.articles button a {
  text-decoration: none;
  color: #2874cc;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.articles button a:hover {
  text-decoration: underline;
}
.articles button a img {
  width: 18px;
  margin-left: 4px;
}

footer {
  width: 100%;
  background-color: #e6e6e6;
  overflow: hidden;
}

.footerLinks {
  width: 85%;
  min-width: 1040px;
  margin: 30px auto;
  display: flex;
  flex-flow: row nowrap;
}
.footerLinks div {
  flex: 1 1 0;
}
.footerLinks li {
  margin: 15px 0;
}
.footerLinks h1 {
  font-size: 20px;
  color: #0a0a0a;
  text-decoration: none;
}
.footerLinks a {
  color: #505050;
  text-decoration: none;
  font-size: 14px;
}
.footerLinks a:hover {
  color: #141414;
  text-decoration: underline;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
