.hidden {
  display: none !important;
}

body {
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin: 10px auto;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1400px;
}
@media only screen and (max-width: 770px) {
  header {
    flex-flow: column nowrap;
    width: 100%;
  }
}
@media only screen and (min-width: 771px) and (max-width: 1000px) {
  header {
    flex-flow: row wrap;
    width: 100%;
  }
}
@media only screen and (min-width: 1001px) {
  header {
    flex-flow: row wrap;
    width: 85%;
  }
}

.headerLogo img {
  height: 40px;
  width: auto;
}

@media only screen and (min-width: 771px) {
  .headerPrimaryNav {
    margin-right: auto;
  }
}
.headerPrimaryNav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
}
.headerPrimaryNav li {
  margin: 0 10px;
  padding: 5px 0;
  border-bottom: solid transparent 2px;
}
.headerPrimaryNav li a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.headerPrimaryNav li:hover {
  border-bottom: solid black 2px;
}

.headerSecondaryNav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
}
.headerSecondaryNav li {
  margin-right: 10px;
}
.headerSecondaryNav li img {
  width: auto;
  height: 30px;
  vertical-align: middle;
}
.headerSecondaryNav li a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: solid transparent 2px;
}
.headerSecondaryNav li a:hover {
  border-bottom: solid black 2px;
}
.headerSecondaryNav button {
  cursor: pointer;
  background: none;
  border: none;
  border: solid transparent 2px;
  height: 40px;
}
.headerSecondaryNav button:hover {
  border-bottom: solid black 2px;
}
.headerSecondaryNav button:active {
  margin: 0;
  padding: 0 8px;
}

.headerTertiaryNav {
  background-color: #f0f0f0;
  border: solid gainsboro 1px;
  padding: 10px;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 20;
  flex-flow: row wrap;
  justify-content: space-between;
}
.headerTertiaryNav ul {
  margin: 0 20px;
}
.headerTertiaryNav li {
  margin: 20px 0;
}
.headerTertiaryNav h1 {
  font-weight: bold;
  color: #646464;
}
.headerTertiaryNav a {
  color: black;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 1400px;
}
@media only screen and (max-width: 1000px) {
  main {
    width: 100%;
  }
}
@media only screen and (min-width: 1001px) {
  main {
    width: 85%;
  }
}

.primaryFigureSection {
  position: relative;
  overflow: hidden;
}

.primaryFigureSection-figureSet {
  position: relative;
}

.primaryFigureSection-figure {
  position: relative;
}
.primaryFigureSection-figure img {
  width: 100%;
  display: block;
}

.primaryFigureSection-figure.prev {
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 11;
  width: 100%;
}

.primaryFigureSection-figure.next {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 11;
  width: 100%;
}

.primaryFigureSection-figure.hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.primaryFigureSection-figureCaption {
  padding: 40px;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
}
@media only screen and (max-width: 700px) {
  .primaryFigureSection-figureCaption {
    position: static;
    width: 100%;
    top: 100%;
  }
}
@media only screen and (min-width: 701px) {
  .primaryFigureSection-figureCaption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
  }
}
.primaryFigureSection-figureCaption h1 {
  font-size: 50px;
}
.primaryFigureSection-figureCaption p {
  margin: 10px 0;
  font-size: 20px;
}
.primaryFigureSection-figureCaption button {
  margin-right: auto;
  margin-top: 10px;
  padding: 7px;
  border: none;
}
.primaryFigureSection-figureCaption button a {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.primaryFigureSection-figureCaption button a:hover {
  text-decoration: underline;
}
.primaryFigureSection-figureCaption button a svg {
  width: 20px;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.primaryFigureSection-figureCaption.darkTheme {
  color: white;
  right: 20px;
}
@media only screen and (max-width: 700px) {
  .primaryFigureSection-figureCaption.darkTheme {
    background-color: #323232;
  }
}
.primaryFigureSection-figureCaption.darkTheme button {
  background-color: white;
}
.primaryFigureSection-figureCaption.darkTheme button a {
  color: black;
}
.primaryFigureSection-figureCaption.darkTheme svg {
  stroke: black;
}

.primaryFigureSection-figureCaption.brightTheme {
  color: black;
  left: 40px;
}
@media only screen and (max-width: 700px) {
  .primaryFigureSection-figureCaption.brightTheme {
    background-color: #c8c8c8;
  }
}
.primaryFigureSection-figureCaption.brightTheme button {
  background-color: black;
}
.primaryFigureSection-figureCaption.brightTheme button a {
  color: white;
}
.primaryFigureSection-figureCaption.brightTheme svg {
  stroke: white;
}

.primaryFigureSection-prevButton {
  position: absolute;
  left: 0;
  width: 70px;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}
@media only screen and (max-width: 700px) {
  .primaryFigureSection-prevButton {
    top: 25%;
  }
}
@media only screen and (min-width: 701px) {
  .primaryFigureSection-prevButton {
    top: 50%;
  }
}
.primaryFigureSection-prevButton svg {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.primaryFigureSection-prevButton.darkTheme svg {
  stroke: white;
}

.primaryFigureSection-prevButton.brightTheme svg {
  stroke: black;
}

.primaryFigureSection-nextButton {
  position: absolute;
  top: 50%;
  right: 0;
  width: 70px;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}
@media only screen and (max-width: 700px) {
  .primaryFigureSection-nextButton {
    top: 25%;
  }
}
@media only screen and (min-width: 701px) {
  .primaryFigureSection-nextButton {
    top: 50%;
  }
}
.primaryFigureSection-nextButton svg {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.primaryFigureSection-nextButton.darkTheme svg {
  stroke: white;
}

.primaryFigureSection-nextButton.brightTheme svg {
  stroke: black;
}

.primaryFigureSection-buttonSet {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px auto;
  z-index: 12;
}
.primaryFigureSection-buttonSet button {
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.primaryFigureSection-moveButton svg path {
  stroke: white;
  stroke-width: 10px;
}
.primaryFigureSection-moveButton svg circle {
  fill: transparent;
}

.primaryFigureSection-moveButton.marked svg path {
  stroke: white;
  stroke-width: 10px;
}
.primaryFigureSection-moveButton.marked svg circle {
  fill: white;
}

.primaryFigureSection-playButton svg polygon {
  fill: white;
  stroke: white;
}

.primaryFigureSection-pauseButton svg line {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 20px;
}

.secondaryFigureSection-figureSet {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 0 30px 0;
}

.secondaryFigureSection-figure {
  box-sizing: border-box;
  margin: 10px 0;
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (max-width: 374px) {
  .secondaryFigureSection-figure {
    width: 100%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 700px) {
  .secondaryFigureSection-figure {
    width: calc((100% - 1*20px)/2);
  }
}
@media only screen and (min-width: 701px) {
  .secondaryFigureSection-figure {
    width: calc((100% - 3*20px)/4);
  }
}
.secondaryFigureSection-figure img {
  width: 100%;
}

.secondaryFigureSection-figureCaption {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;
}
.secondaryFigureSection-figureCaption h1 {
  font-size: 20px;
  font-weight: bold;
  color: #282828;
}
.secondaryFigureSection-figureCaption p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.secondaryFigureSection-figureCaption button {
  background-color: white;
  padding: 0;
  border: none;
  margin-top: 10px;
}
.secondaryFigureSection-figureCaption button a {
  text-decoration: none;
  color: #2874cc;
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.secondaryFigureSection-figureCaption button a:hover {
  text-decoration: underline;
}
.secondaryFigureSection-figureCaption button a img {
  width: 14px;
  margin-left: 4px;
}

.socialMediaSection {
  margin: 30px 0;
  max-width: 1400px;
  font-size: 20px;
  color: #505050;
}
@media only screen and (max-width: 500px) {
  .socialMediaSection {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }
}
.socialMediaSection span {
  margin: 10px 10px;
}
.socialMediaSection img {
  height: 40px;
  width: auto;
  vertical-align: middle;
  margin: 5px 5px;
}

footer {
  width: 100%;
  background-color: #e6e6e6;
  padding: 30px 0;
}

.primaryFooterSection {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (max-width: 1000px) {
  .primaryFooterSection {
    width: 100%;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1001px) {
  .primaryFooterSection {
    width: 85%;
    justify-content: space-between;
  }
}

.primaryFooterSection-navMenu {
  flex: 0 1 auto;
  padding: 10px 0;
}
@media only screen and (max-width: 550px) {
  .primaryFooterSection-navMenu {
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 700px) {
  .primaryFooterSection-navMenu {
    box-sizing: border-box;
    width: 33.3%;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .primaryFooterSection-navMenu {
    padding: 10px 20px;
  }
}
.primaryFooterSection-navMenu h1 {
  font-size: 20px;
  color: #282828;
  text-decoration: none;
}
.primaryFooterSection-navMenu li {
  margin: 15px 0;
}
.primaryFooterSection-navMenu a {
  color: #505050;
  text-decoration: none;
  font-size: 14px;
}
.primaryFooterSection-navMenu a:hover {
  color: #282828;
  text-decoration: underline;
}

.secondaryFooterSection {
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .secondaryFooterSection {
    width: 100%;
    flex-flow: column nowrap;
  }
}
@media only screen and (min-width: 1001px) {
  .secondaryFooterSection {
    width: 85%;
    flex-flow: row wrap;
  }
}

.secondaryFooterSection-languageButton {
  cursor: pointer;
  font-size: 14px;
  color: #505050;
  background: none;
  border: none;
  margin: 10px 0;
}
.secondaryFooterSection-languageButton img {
  width: 14px;
  margin-right: 7px;
  vertical-align: middle;
}

.secondaryFooterSection-languageButton:hover {
  color: #282828;
  text-decoration: underline;
}

.secondaryFooterSection-miscMenu {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
@media only screen and (max-width: 350px) {
  .secondaryFooterSection-miscMenu {
    flex-flow: column nowrap;
  }
}
@media only screen and (min-width: 351px) and (max-width: 700px) {
  .secondaryFooterSection-miscMenu {
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 701px) {
  .secondaryFooterSection-miscMenu {
    flex-flow: row wrap;
  }
}
.secondaryFooterSection-miscMenu li {
  margin: 10px 10px;
  font-size: 14px;
  color: #505050;
}
.secondaryFooterSection-miscMenu li a {
  text-decoration: none;
  color: #505050;
}
.secondaryFooterSection-miscMenu li a:hover {
  color: #282828;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
