body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 85%;
  min-width: 1024px;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.headerLogo img {
  height: 40px;
  width: auto;
}

.headerPrimaryNav {
  margin-right: auto;
}
.headerPrimaryNav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
}
.headerPrimaryNav li {
  margin: 0 10px;
  padding: 5px 0;
  border-bottom: solid transparent 2px;
}
.headerPrimaryNav li a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.headerPrimaryNav li:hover {
  border-bottom: solid black 2px;
}

.headerSecondaryNav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
}
.headerSecondaryNav li {
  margin: 0 10px;
}
.headerSecondaryNav li img {
  width: auto;
  height: 30px;
  vertical-align: middle;
}
.headerSecondaryNav li a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: solid transparent 2px;
}
.headerSecondaryNav li a:hover {
  border-bottom: solid black 2px;
}
.headerSecondaryNav li button {
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: solid transparent 2px;
}
.headerSecondaryNav li button:hover {
  border-bottom: solid black 2px;
}

main {
  width: 85%;
  min-width: 1024px;
  margin: 0 auto;
}

.primaryFigureSection {
  position: relative;
  overflow: hidden;
}

.primaryFigureSection.prev {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
}

.primaryFigureSection.next {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

.primaryFigureSection.hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.primaryFigureSection-figure {
  position: relative;
}
.primaryFigureSection-figure img {
  width: 100%;
}

.primaryFigureSection-figureCaption {
  position: absolute;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
}
.primaryFigureSection-figureCaption h1 {
  font-size: 50px;
}
.primaryFigureSection-figureCaption p {
  margin: 10px 0;
  font-size: 20px;
}
.primaryFigureSection-figureCaption button {
  margin-right: auto;
  margin-top: 10px;
  padding: 7px;
  border: none;
}
.primaryFigureSection-figureCaption button a {
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.primaryFigureSection-figureCaption button a:hover {
  text-decoration: underline;
}
.primaryFigureSection-figureCaption button a svg {
  width: 20px;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.primaryFigureSection-figureCaption.darkTheme {
  color: white;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  width: 300px;
}
.primaryFigureSection-figureCaption.darkTheme button {
  background-color: white;
}
.primaryFigureSection-figureCaption.darkTheme button a {
  color: black;
}
.primaryFigureSection-figureCaption.darkTheme svg {
  stroke: black;
}

.primaryFigureSection-figureCaption.brightTheme {
  color: black;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  width: 350px;
}
.primaryFigureSection-figureCaption.brightTheme button {
  background-color: black;
}
.primaryFigureSection-figureCaption.brightTheme button a {
  color: white;
}
.primaryFigureSection-figureCaption.brightTheme svg {
  stroke: white;
}

.primaryFigureSection-prevButton {
  position: absolute;
  top: 50%;
  left: 0;
  width: 70px;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}
.primaryFigureSection-prevButton svg {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.primaryFigureSection-prevButton.darkTheme svg {
  stroke: white;
}

.primaryFigureSection-prevButton.brightTheme svg {
  stroke: black;
}

.primaryFigureSection-nextButton {
  position: absolute;
  top: 50%;
  right: 0;
  width: 70px;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}
.primaryFigureSection-nextButton svg {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.primaryFigureSection-nextButton.darkTheme svg {
  stroke: white;
}

.primaryFigureSection-nextButton.brightTheme svg {
  stroke: black;
}

.primaryFigureSection-buttonSet {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px auto;
  z-index: 12;
}
.primaryFigureSection-buttonSet button {
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.primaryFigureSection-moveButton svg path {
  stroke: white;
  stroke-width: 10px;
}
.primaryFigureSection-moveButton svg circle {
  fill: transparent;
}

.primaryFigureSection-playButton svg polygon {
  fill: white;
  stroke: white;
}

.primaryFigureSection-pauseButton svg line {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 20px;
}

.secondaryFigureSection-figureSet {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 20px 0 60px 0;
}

.secondaryFigureSection-figure {
  box-sizing: border-box;
  width: calc((100% - 3*20px)/4);
  margin: 10px 0;
  display: flex;
  flex-flow: column nowrap;
}
.secondaryFigureSection-figure img {
  width: 100%;
}

.secondaryFigureSection-figureCaption {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 30px 0 0 0;
}
.secondaryFigureSection-figureCaption h1 {
  font-size: 20px;
  font-weight: bold;
  color: #282828;
}
.secondaryFigureSection-figureCaption p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.secondaryFigureSection-figureCaption button {
  background-color: white;
  padding: 0;
  border: none;
  margin-top: 10px;
}
.secondaryFigureSection-figureCaption button a {
  text-decoration: none;
  color: #2874cc;
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.secondaryFigureSection-figureCaption button a:hover {
  text-decoration: underline;
}
.secondaryFigureSection-figureCaption button a img {
  width: 14px;
  margin-left: 4px;
}

.socialMediaSection {
  width: 85%;
  min-width: 1024px;
  margin: 30px 0;
  font-size: 20px;
  color: #505050;
}
.socialMediaSection span {
  margin-right: 10px;
}
.socialMediaSection img {
  height: 40px;
  width: auto;
  vertical-align: middle;
  margin: 0 5px;
}

footer {
  width: 100%;
  background-color: #e6e6e6;
  padding: 30px 0;
  margin-top: 10px;
}

.primaryFooterSection {
  width: 85%;
  min-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.primaryFooterSection-navMenu {
  flex: 0 1 auto;
}
.primaryFooterSection-navMenu h1 {
  font-size: 20px;
  color: #282828;
  text-decoration: none;
}
.primaryFooterSection-navMenu li {
  margin: 15px 0;
}
.primaryFooterSection-navMenu a {
  color: #505050;
  text-decoration: none;
  font-size: 14px;
}
.primaryFooterSection-navMenu a:hover {
  color: #282828;
  text-decoration: underline;
}

.secondaryFooterSection {
  width: 85%;
  min-width: 1024px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.secondaryFooterSection-languageButton {
  cursor: pointer;
  font-size: 14px;
  color: #505050;
  background: none;
  border: none;
}
.secondaryFooterSection-languageButton img {
  width: 14px;
  margin-right: 7px;
  vertical-align: middle;
}

.secondaryFooterSection-languageButton:hover {
  color: #282828;
  text-decoration: underline;
}

.secondaryFooterSection-miscMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.secondaryFooterSection-miscMenu li {
  margin: 0 10px;
  font-size: 14px;
  color: #505050;
}
.secondaryFooterSection-miscMenu li a {
  text-decoration: none;
  color: #505050;
}
.secondaryFooterSection-miscMenu li a:hover {
  color: #282828;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
