@import "theme";

body
{
    font-family: $font-names;
    font-size: 16px;
    color: black;
    width: 100%;
}

main
{
    width: 85%;
    min-width: 1040px;
    margin: 0 auto;
}

header
{
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .header-logo
    {
        height: 50px;
    }

    .header-nav-primary 
    {
        margin-right: auto;    

        ul
        {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0;
        }

        li
        {
            margin: 0 10px;
        }

        li a
        {
            color: black;
            text-decoration: none;
        }

        li a:hover
        {
            border-bottom: solid black 2px;
        }
    }   

    .header-nav-secondary ul
    {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0;    

        li
        {
            margin: 0 10px;    
        }

        li img
        {
            height: 30px;
            vertical-align: middle;
        }

        li a
        {
            color: black;
            text-decoration: none;    
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
    }
}

#header-nav-secondary-menuButton
{
    cursor: pointer;
}

.features figure 
{
    position: relative;

    img
    {
        width: 100%;
    }

    figcaption 
    {
        position: absolute;
        right: 50px;
        top: 50px;        
        background-color: rgb(241, 241, 241, 0.75);
        padding: 30px;
        text-align: left;
        width: 450px;
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-end;

        h1 
        {
            font-size: 40px;    
        }

        p 
        {
            margin: 10px 0;
            font-size: 18px;
        }

        button 
        {
            margin-right: auto;
            background-color: white;
            padding: 10px;
            border: none;
        }

        button a 
        {
            text-decoration: none;
            color: $shop-now-link-color;;
            font-size: 18px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        button a:hover 
        {
            text-decoration: underline;
        }

        button a img 
        {
            width: 22px;
            margin-left: 0 4px;
        }
    }    
}

.carousel-control-prev-icon
{
    width: 60px;
    height: 60px;
    background-image: url("../img/leftArrow-01.svg");
}

.carousel-control-next-icon
{
    width: 60px;
    height: 60px;
    background-image: url("../img/rightArrow-01.svg");
}

.articles
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    article
    {
        box-sizing: border-box;   
        width: calc((100% - 3*20px)/4);
        margin: 10px 0;   
    }

    img
    {
        width: 100%;
    }

    h1
    {
        margin: 30px 0 0 0;
        font-size: 18px;
        font-weight: bold;
        color: rgb(50,50,50);
    }

    p
    {
        margin: 10px 0 0 0;
    }

    button
    {
        background-color: white;
        padding: 0;
        border: none;
        margin-top: 10px;
    }

    button a
    {
        text-decoration: none;
        color: $shop-now-link-color;
        font-size: 16px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    button a:hover
    {
        text-decoration: underline;
    }

    button a img
    {
        width: 18px;
        margin-left: 4px;
    }

}

footer
{        
    width: 100%;
    background-color: rgb(230,230,230);
    overflow: hidden;
}

.footerLinks
{
    width: 85%;    
    min-width: 1040px;
    margin: 30px auto;
    display: flex;
    flex-flow: row nowrap;

    div
    {
        flex: 1 1 0;
    }

    li
    {
        margin: 15px 0;
    }

    h1
    {
        font-size: 20px;
        color: rgb(10,10,10);
        text-decoration: none;
    }

    a
    {
        color: rgb(80,80,80);
        text-decoration: none;
        font-size: 14px;
    }

    a:hover
    {
        color: rgb(20,20,20);
        text-decoration: underline;
        font-size: 14px;
    }
}

