@import "theme";

body
{
    font-family: $font-names;
}

header
{
    width: $page-width;
    min-width: $page-minWidth;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header-logo
{
    img
    {
        height: 40px;
        width: auto;
    }    
}

.header-primaryNav 
{
    margin-right: auto;    

    ul
    {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0;
    }

    li
    {
        margin: 0 10px;
        padding: 5px 0;
        border-bottom: solid transparent 2px;
    }

    li a
    {
        font-size: $font-size-small;
        color: black;
        text-decoration: none;
    }

    li:hover
    {
        border-bottom: solid black 2px;
    }
}   

.header-secondaryNav
{
    ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0; 
    }
                
    li
    {
        margin: 0 10px;    
    }

    li img
    {
        width: auto;
        height: 30px;
        vertical-align: middle;
    }

    li a
    {
        font-size: $font-size-small;
        color: black;
        text-decoration: none;    
        display: flex;
        flex-flow: row nowrap;
        align-items: center;     
        border-bottom: solid transparent 2px;       
    }

    li a:hover
    {
        border-bottom: solid black 2px;
    }

    li#header-secondaryNav-menuButton
    {
        cursor: pointer;
    }
}

main
{
    width: $page-width;
    min-width: $page-minWidth;
    margin: 0 auto;

    .main-secondaryFigures
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 20px 0 60px 0;
    }

    .main-socialMedia
    {
        width: $page-width;
        min-width: $page-minWidth;
        margin: 30px 0;
        font-size: $font-size-medium;
        color: $font-color-lightGray;
    }
}

.main-primaryFigures
{ 
    position: relative;
    overflow: hidden;
}

.main-primaryFigures figure
{       
    img
    {
        width: 100%;
    }

    figcaption 
    {
        position: absolute;
        text-align: left;        
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-end;
    }

    .main-primaryFigures-nextButton
    {
        position: absolute;
        top: 50%;
        right: 0;
        width: 70px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .main-primaryFigures-prevButton
    {
        position: absolute;
        top: 50%;
        left: 0;
        width: 70px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .main-primaryFigures-nextButton .line
    {
        fill:none;
        stroke-miterlimit:10;
        stroke-width:3px;
    }        

    .main-primaryFigures-prevButton .line
    {
        fill:none;
        stroke-miterlimit:10;
        stroke-width:3px;
    }    
}

.main-primaryFigures figcaption
{
    h1 
    {
        font-size: $font-size-large;    
    }

    p 
    {
        margin: 10px 0;
        font-size: $font-size-medium; 
    }

    button 
    {
        margin-right: auto;            
        margin-top: 10px;
        padding: 7px;
        border: none;
    }

    button a 
    {
        text-decoration: none;            
        font-size: $font-size-medium;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    button a svg
    {
        width: $font-size-medium;        

        .line
        {
            fill:none;
            stroke-miterlimit:10;
            stroke-width:3px;
        }
    }

    button a:hover 
    {
        text-decoration: underline;
    }

    button a img 
    {
        width: $font-size-small;
        margin-left: 0 4px;
    }
}   

.main-primaryFigures #figure-A
{
    figcaption
    {
        color: white;    
        right: 20px;
        top: 50%;     
        transform: translateY(-50%);           
        padding: 30px;
        width: 300px; 
    }     

    figcaption button
    {
        background-color: white;
    }

    figcaption button a
    {
        color: black;
    }

    figcaption svg .line
    {
        stroke:black;
    }

    .main-primaryFigures-nextButton .line
    {
        stroke: white;
    }

    .main-primaryFigures-prevButton .line
    {
        stroke: white;
    }
}    

.main-primaryFigures #figure-B
{
    figcaption
    {
        color: black;    
        left: 40px;
        top: 50%;     
        transform: translateY(-50%);   
        padding: 30px;
        width: 350px;
    }

    figcaption button
    {
        background-color: black;
    }

    figcaption button a
    {
        color: white;
    }

    figcaption svg .line
    {  
        stroke:white;
    }
    
    .main-primaryFigures-nextButton .line
    {
        stroke: black;
    }

    .main-primaryFigures-prevButton .line
    {
        stroke: black;
    }
}

.main-primaryFigures #figure-C
{
    figcaption
    {
        color: black;    
        left: 40px;
        top: 50%;     
        transform: translateY(-50%);   
        padding: 30px;
        width: 350px;
    }

    figcaption button
    {
        background-color: black;
    }

    figcaption button a
    {
        color: white;
    }

    figcaption svg .line
    {  
        stroke:white;
    }
    
    .main-primaryFigures-nextButton .line
    {
        stroke: black;
    }

    .main-primaryFigures-prevButton .line
    {
        stroke: black;
    }
}

.main-primaryFigures #figure-D
{
    figcaption
    {
        color: black;    
        left: 40px;
        top: 50%;     
        transform: translateY(-50%);   
        padding: 30px;
        width: 350px;
    }

    figcaption button
    {
        background-color: black;
    }

    figcaption button a
    {
        color: white;
    }

    figcaption svg .line
    {  
        stroke:white;
    }
    
    .main-primaryFigures-nextButton .line
    {
        stroke: black;
    }

    .main-primaryFigures-prevButton .line
    {
        stroke: black;
    }
}

.main-primaryFigures-prevState
{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
}
.main-primaryFigures-currState
{
    display: block;
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;
}

.main-primaryFigures-nextState
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}

.main-primaryFigures-hiddenState
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.main-primaryFigures-inactiveState
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}

.main-primaryFigures-activeState
{
    display: block;
    position: relative;
    z-index: 12;
}

.main-primaryFigures-buttons
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px auto;
    z-index: 12;   

    button
    {
        width: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .main-primaryFigures-buttons-move path
    {
        stroke: white;
        stroke-width:10px;        
    }

    .main-primaryFigures-buttons-move circle
    {
        fill: transparent;
    }

    .main-primaryFigures-buttons-play
    {
        fill: white;
        stroke: white;
    }

    .main-primaryFigures-buttons-pause
    {
        fill: none;
        stroke: white;
        stroke-miterlimit: 10;
        stroke-width: 20px;
    }
}

.main-secondaryFigures figure
{
    box-sizing: border-box;   
    width: calc((100% - 3*20px)/4);
    margin: 10px 0; 
    display: flex;
    flex-flow: column nowrap;
    
    img
    {
        width: 100%;
    }

    figcaption
    {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        margin: 30px 0 0 0;
    }
}

.main-secondaryFigures figcaption
{
    h1
    {                
        font-size: $font-size-medium;
        font-weight: bold;
        color: $font-color-darkGray;
    }

    p
    {
        margin: 10px 0 0 0;
        font-size: $font-size-small;
    }

    button
    {
        background-color: white;
        padding: 0;
        border: none;
        margin-top: 10px;
    }

    button a
    {
        text-decoration: none;
        color: $font-color-blue;
        font-size: $font-size-small;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    button a:hover
    {
        text-decoration: underline;
    }

    button a img
    {
        width: $font-size-small;
        margin-left: 4px;
    }
}

.main-socialMedia
{
    span
    {
        margin-right: 10px;
    }
    
    img
    {
        height: 40px;
        width: auto;
        vertical-align: middle;
        margin: 0 5px;
    }
}

footer
{        
    width: 100%;
    background-color: rgb(230,230,230);
    padding: 30px 0;
    margin-top: 10px;
}

.footer-primaryLinks
{
    width: $page-width;    
    min-width: $page-minWidth;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    nav
    {
        flex: 0 1 auto;
    }
}

.footer-primaryLinks nav
{
    h1
    {
        font-size: $font-size-medium;
        color: $font-color-darkGray;
        text-decoration: none;
    }
    
    li
    {
        margin: 15px 0;
    }    

    a
    {
        color: $font-color-lightGray;
        text-decoration: none;
        font-size: $font-size-small;
    }

    a:hover
    {
        color: $font-color-darkGray;
        text-decoration: underline;
    }
}

.footer-secondaryLinks
{
    width: $page-width;
    min-width: $page-minWidth;
    margin: 50px auto 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .languageSelector
    {
        cursor: pointer;
        font-size: $font-size-small;
        color: $font-color-lightGray;
    }

    .languageSelector:hover
    {
        color: $font-color-darkGray;
        text-decoration: underline;
    }    
}

.footer-secondaryLinks .languageSelector
{
    img 
    {
        width: $font-size-small;
        margin-right: 7px;
        vertical-align: middle;
    }
}

.footer-secondaryLinks nav
{
    ul
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    ul li
    {
        margin: 0 10px;
        font-size: $font-size-small;    
        color: $font-color-lightGray;    
    }

    ul li a
    {
        text-decoration: none;
        color: $font-color-lightGray;
    }

    ul li a:hover
    {
        color: $font-color-darkGray;
        text-decoration: underline;
    }
}
