@import "theme";

.hidden
{
    display: none !important;
}

body
{
    margin: 0 auto;
    font-family: $font-names;
}


header
{
    margin: 10px auto;
    display: flex;    
    align-items: center;
    position: relative;    
    @media only screen and (max-width: 770px){ flex-flow: column nowrap; width: 100%; }
    @media only screen and (min-width: 771px) and (max-width: 1000px){ flex-flow: row wrap; width: 100%; } 
    @media only screen and (min-width: 1001px){ flex-flow: row wrap; width: 85%; }  
    max-width: 1400px;
}

.headerLogo
{
    img
    {
        height: 40px;
        width: auto;
    }    
}

.headerPrimaryNav
{
    @media only screen and (min-width: 771px) 
    {
        margin-right: auto; 
    }       

    ul
    {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0;
    }

    li
    {
        margin: 0 10px;
        padding: 5px 0;
        border-bottom: solid transparent 2px;
    }

    li a
    {
        font-size: $font-size-small;
        color: black;
        text-decoration: none;
    }

    li:hover
    {
        border-bottom: solid black 2px;
    }
}   

.headerSecondaryNav
{
    ul 
    {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0;     
    }
                
    li
    {
        margin-right: 10px;  
    }

    li img
    {
        width: auto;
        height: 30px;
        vertical-align: middle;
    }

    li a
    {
        font-size: $font-size-small;
        color: black;
        text-decoration: none;    
        display: flex;
        flex-flow: row nowrap;
        align-items: center;     
        border-bottom: solid transparent 2px;       
    }

    li a:hover
    {
        border-bottom: solid black 2px;
    }

    button
    {
        cursor: pointer;
        background: none;
        border: none;
        border: solid transparent 2px;             
        height: 40px; 
    }

    button:hover
    {
        border-bottom: solid black 2px;
    }

    button:active
    {
        margin: 0;
        padding: 0 8px;
    }
}


.headerTertiaryNav
{
    background-color: rgb(240,240,240);
    border: solid rgb(220,220,220) 1px;
    padding: 10px;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 20;    
    flex-flow: row wrap;
    justify-content: space-between;

    ul
    {
        margin: 0 20px;
    }

    li
    {        
        margin: 20px 0;
    }

    h1
    {
        font-weight: bold;
        color: rgb(100,100,100);
    }

    a
    {
        color: black; 
        text-decoration: none;
    }
}

main
{
    margin: 0 auto;  
    @media only screen and (max-width: 1000px){ width: 100%; } 
    @media only screen and (min-width: 1001px){ width: 85%; }     
    max-width: 1400px;

}

.primaryFigureSection
{ 
    position: relative;
    overflow: hidden;  
}

.primaryFigureSection-figureSet
{
    position: relative;
}

.primaryFigureSection-figure
{
    position: relative;

    img 
    {
        width: 100%;
        display: block;
    }    
}

.primaryFigureSection-figure.prev
{
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 11;
    width: 100%;
}

.primaryFigureSection-figure.next
{
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 11;
    width: 100%;
}

.primaryFigureSection-figure.hidden
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.primaryFigureSection-figureCaption 
{
    @media only screen and (max-width: 700px)
    {
        position: static;
        width: 100%;
        top: 100%;
    }
    @media only screen and (min-width: 701px)
    {
        position: absolute;
        top: 50%;        
        transform: translateY(-50%);         
        width: 300px;
    }  
                
    padding: 40px;
    text-align: left;        
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;

    h1 
    {
        font-size: $font-size-large;    
    }

    p 
    {
        margin: 10px 0;
        font-size: $font-size-medium; 
    }

    button 
    {
        margin-right: auto;            
        margin-top: 10px;
        padding: 7px;
        border: none;
    }

    button a 
    {
        text-decoration: none;            
        font-size: $font-size-medium;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    button a:hover 
    {
        text-decoration: underline;
    }

    button a svg
    {
        width: $font-size-medium;   
        fill:none;
        stroke-miterlimit:10;
        stroke-width:3px;
    }         
}

.primaryFigureSection-figureCaption.darkTheme 
{
    color: white;    
    right: 20px;   

    @media only screen and (max-width: 700px)
    {
        background-color: rgb(50,50,50);
    }
    
    button
    {
        background-color: white;
    }

    button a
    {
        color: black;
    }

    svg
    {
        stroke:black;
    }
}     

.primaryFigureSection-figureCaption.brightTheme 
{
    color: black;    
    left: 40px;    

    @media only screen and (max-width: 700px)
    {
        background-color: rgb(200,200,200);
    }

    button
    {
        background-color: black;
    }

    button a
    {
        color: white;
    }

    svg
    {  
        stroke:white;
    }
}


.primaryFigureSection-prevButton
{
    @media only screen and (max-width: 700px)
    {
        top: 25%;
    }
    @media only screen and (min-width: 701px)
    {
        top: 50%;
    }     
    position: absolute;
    left: 0;
    width: 70px;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;

    svg
    {
        fill:none;
        stroke-miterlimit:10;
        stroke-width:3px;
    }          
}

.primaryFigureSection-prevButton.darkTheme
{
    svg
    {
        stroke: white;
    }
}

.primaryFigureSection-prevButton.brightTheme
{
    svg
    {
        stroke: black;
    }
}

.primaryFigureSection-nextButton
{
    @media only screen and (max-width: 700px)
    {
        top: 25%;
    }
    @media only screen and (min-width: 701px)
    {
        top: 50%;
    } 
    position: absolute;
    top: 50%;
    right: 0;
    width: 70px;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;

    svg
    {
        fill:none;
        stroke-miterlimit:10;
        stroke-width:3px;
    }          
}


.primaryFigureSection-nextButton.darkTheme
{
    svg
    {
        stroke: white;
    }
}

.primaryFigureSection-nextButton.brightTheme
{
    svg
    {
        stroke: black;
    }
}


.primaryFigureSection-buttonSet
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px auto;
    z-index: 12;   

    button
    {
        width: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.primaryFigureSection-moveButton
{
    svg path
    {
        stroke: white;
        stroke-width:10px; 
    }

    svg circle
    {
        fill: transparent;
    }    
}

.primaryFigureSection-moveButton.marked
{
    svg path
    {
        stroke: white;
        stroke-width:10px; 
    }

    svg circle
    {
        fill: white;
    }    
}

.primaryFigureSection-playButton
{
    svg polygon
    {
       fill: white;
        stroke: white; 
    }    
}

.primaryFigureSection-pauseButton
{
    svg line
    {
        fill: none;
        stroke: white;
        stroke-miterlimit: 10;
        stroke-width: 20px;
    }    
}

.secondaryFigureSection-figureSet
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

.secondaryFigureSection-figure
{
    box-sizing: border-box;   
    @media only screen and (max-width: 374px){ width: 100%; }
    @media only screen and (min-width: 375px) and (max-width: 700px){ width: calc((100% - 1*20px)/2); }
    @media only screen and (min-width: 701px){ width: calc((100% - 3*20px)/4); }    
    margin: 10px 0; 
    display: flex;
    flex-flow: column nowrap;
    
    img
    {
        width: 100%;
    }
}

.secondaryFigureSection-figureCaption
{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 10px 10px 20px 10px;

    h1
    {                
        font-size: $font-size-medium;
        font-weight: bold;
        color: $font-color-darkGray;
    }

    p
    {
        margin: 10px 0 0 0;
        font-size: $font-size-small;
    }

    button
    {
        background-color: white;
        padding: 0;
        border: none;
        margin-top: 10px;
    }

    button a
    {
        text-decoration: none;
        color: $font-color-blue;
        font-size: $font-size-small;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    button a:hover
    {
        text-decoration: underline;
    }

    button a img
    {
        width: $font-size-small;
        margin-left: 4px;
    }
}

.socialMediaSection
{    
    @media only screen and (max-width: 500px)
    { 
        margin: 30px 0;
        width: 100%; 
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
    } 

    margin: 30px 0;
    max-width: 1400px;
    font-size: $font-size-medium;
    color: $font-color-lightGray;

    span
    {
        margin: 10px 10px;
    }
    
    img
    {
        height: 40px;
        width: auto;
        vertical-align: middle;
        margin: 5px 5px;
    }
}

footer
{        
    width: 100%;
    background-color: rgb(230,230,230);
    padding: 30px 0;

}

.primaryFooterSection
{
    @media only screen and (max-width: 1000px)
    { 
        width: 100%;        
        justify-content: flex-start;
    } 
    @media only screen and (min-width: 1001px)
    { 
        width: 85%;        
        justify-content: space-between; 
    }     
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.primaryFooterSection-navMenu
{
    flex: 0 1 auto;
    padding: 10px 0;
    @media only screen and (max-width: 550px) 
    { 
        width: 100%;
        align-content: center;
        text-align: center;
        padding: 10px 20px;
    }
    @media only screen and (min-width: 551px) and (max-width: 700px)
    { 
        box-sizing: border-box;
        width: 33.3%;
        padding: 10px 20px;
    } 
    @media only screen and (max-width: 1000px)
    { 
        padding: 10px 20px;
    } 

    h1
    {
        font-size: $font-size-medium;
        color: $font-color-darkGray;
        text-decoration: none;
    }
    
    li
    {
        margin: 15px 0;
    }    

    a
    {
        color: $font-color-lightGray;
        text-decoration: none;
        font-size: $font-size-small;
    }

    a:hover
    {
        color: $font-color-darkGray;
        text-decoration: underline;
    }
}

.secondaryFooterSection
{
    @media only screen and (max-width: 1000px)
    { 
        width: 100%; 
        flex-flow: column nowrap;
    } 
    @media only screen and (min-width: 1001px)
    { 
        width: 85%; 
        flex-flow: row wrap;
    }  
    margin: 50px auto 0 auto;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.secondaryFooterSection-languageButton
{
    cursor: pointer;
    font-size: $font-size-small;
    color: $font-color-lightGray;
    background: none;
    border: none;
    margin: 10px 0;

    img 
    {
        width: $font-size-small;
        margin-right: 7px;
        vertical-align: middle;
    }
}

.secondaryFooterSection-languageButton:hover
{
    color: $font-color-darkGray;
    text-decoration: underline;
}    


.secondaryFooterSection-miscMenu
{
    @media only screen and (max-width: 350px)
    { 
        flex-flow: column nowrap;
    } 
    @media only screen and (min-width: 351px) and (max-width: 700px)
    { 
        flex-flow: row wrap;
    } 
    @media only screen and (min-width: 701px)
    { 
        flex-flow: row wrap;
    } 
    display: flex;
    justify-content: space-around;
    margin: 10px 0;

    li
    {
        margin: 10px 10px;
        font-size: $font-size-small;    
        color: $font-color-lightGray;    
    }

    li a
    {
        text-decoration: none;
        color: $font-color-lightGray;
    }

    li a:hover
    {
        color: $font-color-darkGray;
        text-decoration: underline;
    }
}
